main.pageBlogs{
    padding-top: 10px;

    .breadcrumbs{
        margin-bottom: 0;
        color: #bdbdbd;
        font-size: 14px;
        line-height: 16px;

        a{
            color: inherit;
        }
    }

    .pageBlogs__main{
        padding: 40px 0;

        .wrapper-left{
            @media (max-width: 768px){
                display: none;
            }
        }

        .blog-content{
            padding: 20px;
            background-color: #fff;

            .title{
                color: #333;
                font-size: 32px;
                margin-bottom: 20px;
                font-weight: 700;

                @media (max-width: 768px){
                    font-size: 26px;
                    margin-bottom: 12px;           
                }
            }

            .desc{
                margin-bottom: 30px;
                font-size: 16px;
                color: #444;

                @media (max-width: 768px){
                    font-size: 14px;           
                }
            }

            .list-news{
                
                .news-item{
                    display: flex;
                    flex-wrap: wrap;
                    margin-bottom: 15px;
                    padding-bottom: 15px;
                    border-bottom: 1px solid #eee;
                    width: 100%;

                    @media (max-width: 768px){
                        flex-direction: column;
                    }

                    .item-img{
                        width: 250px;
                        padding-top: 18.25%;
                        margin-bottom: 0;
                        position: relative;
                        overflow: hidden;

                        @media (max-width: 768px){
                            width: 100%;
                            padding-top: 50%;
                            margin-bottom: 15px;
                        }

                        img{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            transition: all 0.5s ease-in-out;
                        }

                        &:hover{
                            img{
                                transform: scale(1.1);
                            }
                        }
                    }

                    .item-info{
                        width: calc(100% - 250px);
                        padding-left: 20px;

                        @media (max-width: 768px){
                            padding-left: 0;
                            width: 100%;
                        }

                        .item-title{
                            font-size: 22px;
                            font-weight: 700;
                            margin-bottom: 15px;

                            @media (max-width: 768px){
                                font-size: 20px;
                            }

                            a{
                                display: block;
                                color: #3385d6;
                                transition: all 0.3s ease;

                                &:hover{
                                    color: #eb8f00;
                                }
                            }
                        }

                        .excerpt{
                            font-size: 16px;
                            color: #444;
                            width: 100%;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            -webkit-line-clamp: 3;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                        }
                    }
                }
            }
        }
    }
}