main#detailPage {
    #breadcrumb {
        padding: 9px 0;

        nav {
            * {
                margin-bottom: 0;
                color: #bdbdbd;
                font-size: 14px;
                line-height: 16px;
            }
        }
    }

    #tour-detail {
        .tour-detail__content {
            .tour-gallery {
                margin-bottom: 40px;

                .splide__gallery {
                    .splide__slide {
                        width: 100%;
                        padding-top: 56.25%;
                        overflow: hidden;
                        cursor: pointer;

                        img {
                            position: absolute;
                            height: 100%;
                            top: 0;
                            left: 0;
                            width: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }

            #tab-details {
                .nav-details {
                    margin-bottom: 25px;

                    ul {
                        border-bottom: 1px solid #ebebeb;
                        white-space: nowrap;
                        margin-bottom: 0;
                        padding: 0;

                        li {
                            list-style: none;
                            display: inline-block;
                            margin-bottom: -1px;
                            margin-right: 45px;

                            &.is-active {
                                a {
                                    border-bottom: 3px solid #e9680c;
                                    color: #e9680c;
                                }
                            }

                            a {
                                padding: 5px 0;
                                display: block;
                                border-bottom: 3px solid transparent;
                                color: #828282;
                                font-weight: 500;
                                transition: all 0.4s;

                                &:hover {
                                    color: #e9680c;
                                }
                            }
                        }
                    }
                }
            }

            #h_tour_overview {
                .content-post {
                    width: 100%;

                    * {
                        width: 100% !important;
                    }

                    img {
                        width: 100%;
                        height: auto;
                        object-fit: cover;
                    }
                }

                .overview {
                    padding-top: 20px;

                    .list {
                        list-style: none;
                        display: flex;
                        flex-wrap: wrap;
                        margin: -10px;

                        li {
                            width: 50%;
                            padding: 10px;
                            display: flex;
                            align-items: center;

                            .icon {
                                width: 45px;
                                text-align: center;

                                path {
                                    fill: #1e4f3f;
                                }
                            }

                            .value {
                                width: calc(100% - 45px);
                                font-size: 14px;

                                p {
                                    font-weight: 700;
                                }

                                a {
                                    color: #212529;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }

            .tour-content-right {
                .inner {
                    padding: 20px 8px 20px 20px;
                    margin-left: 16px;
                    background-color: #efefef;
                    position: sticky;
                    top: 20px;
                    .tour-title {
                        font-size: 28px;
                        margin-bottom: 20px;
                        font-weight: 700;
                    }

                    .tour-rating {
                        margin-top: 4px;
                        margin-bottom: 32px;

                        a {
                            margin-left: 6px;
                            text-decoration: none;
                            color: #212529;
                            cursor: pointer;
                            display: block;
                        }
                    }

                    .tour-price {
                        del {
                            font-size: 16px;
                            line-height: 24px;
                            font-weight: 400;
                            color: #444;
                            margin-right: 6px;
                        }

                        ins {
                            font-size: 16px;
                            line-height: 24px;
                            font-weight: 400;
                            color: #444;

                            span {
                                font-size: 26px;
                                line-height: 39px;
                                font-weight: 700;
                                color: #b72020;
                            }
                        }
                    }

                    form.variable {
                        .tour-departure {
                            margin: 10px 0;

                            label {
                                font-size: 16px;
                                line-height: 24px;
                                font-weight: 400;
                                color: #212529;
                            }

                            input {
                                height: 40px;
                                width: calc(100% - 100px);
                                margin-left: auto;
                            }
                        }

                        .tour-departure-from,
                        .tour-type {
                            .tour-type__title {
                                font-size: 16px;
                                line-height: 24px;
                                font-weight: 700;
                                color: #212529;

                                span {
                                    font-weight: 400;
                                }
                            }

                            .list-checkbox {
                                margin: 16px 0;
                                display: flex;
                                flex-wrap: wrap;
                                gap: 10px 0;

                                li {
                                    width: max-content;
                                    padding: 10px;
                                    height: 40px;
                                    border: 1px solid white;
                                    background-color: white;
                                    font-size: 16px;
                                    line-height: 24px;
                                    font-weight: 400;
                                    color: #212529;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    margin-right: 10px;
                                    cursor: pointer;
                                    &.is-active {
                                        border: 1px solid #b72020;
                                    }
                                }
                            }
                        }

                        .table-price {
                            display: flex;
                            justify-content: space-between;
                            margin: 10px 0;

                            .table-left {
                                align-items: center;

                                .label {
                                    font-size: 16px;
                                    line-height: 24px;
                                    color: #444444;
                                }

                                .price {
                                    del {
                                        margin: 0 8px;

                                        span {
                                            font-size: 16px;
                                            line-height: 24px;
                                        }
                                    }

                                    ins {
                                        span {
                                            font-size: 26px;
                                            line-height: 36px;
                                        }
                                    }

                                    span {
                                        color: #b72020;
                                        font-weight: bold;
                                    }
                                }
                            }

                            .table-right {
                                select {
                                    width: 80px;
                                    height: 36px;
                                }
                            }
                        }

                        .total-price {
                            display: flex;
                            justify-content: space-between;
                            align-items: baseline;
                            margin: 10px 0;

                            .table-left {
                                align-items: baseline;

                                .label {
                                    font-size: 16px;
                                    line-height: 24px;
                                    color: #444444;
                                    font-weight: 600;
                                    margin-right: 6px;
                                }

                                .price {
                                    span {
                                        font-size: 26px;
                                        font-weight: bold;
                                        color: #b72020;
                                    }
                                }
                            }
                        }

                        .btn-paypal,
                        .single_add_to_cart_button {
                            width: 100%;
                            float: none;
                            margin-top: 15px;
                            background-color: #1e4f3f;
                            border: 1px solid #1e4f3f;
                            font-size: 18px;
                            font-weight: bold;
                            font-size: 100%;
                            margin: 0;
                            line-height: 1;
                            cursor: pointer;
                            position: relative;
                            text-decoration: none;
                            padding: 0.618em 1em;
                            font-weight: 700;
                            border-radius: 3px;
                            display: inline-block;
                            background-image: none;
                            box-shadow: none;
                            text-shadow: none;
                            color: white;
                            transition: all 0.4s;
                            margin-bottom: 16px;

                            &:hover {
                                background-color: transparent;
                                color: #1e4f3f;
                            }

                        }

                        .btn-paypal {
                            background-color: #ffb800;
                            border: 1px solid #ffb800;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            &:hover {
                                color: #ffb800;
                            }
                        }
                    }
                }
            }

            #tour_highlight {
                background: #ffe8d6;
                border-radius: 8px;
                padding: 24px 52px 24px 24px;
                margin: 50px 0;

                .title {
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 28px;
                    margin-bottom: 10px;
                }

                .list {
                    list-style: none;
                    margin-bottom: 0;

                    li {
                        position: relative;
                        padding-left: 26px;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 24px;
                        font-weight: 600;
                        color: #444444;

                        i {
                            margin-right: 6px;
                        }

                        &:not(:last-child) {
                            margin-bottom: 15px;
                        }
                    }
                }
            }

            #booking-policy {
                margin: 40px auto;
                max-width: 850px;

                .title {
                    font-size: 28px;
                    font-weight: bold;
                    margin-bottom: 20px;
                }

                #accordionbooking {
                    .accordion-item {
                        background-color: transparent;
                        border: 0;

                        &:not(:last-child) {
                            margin-bottom: 20px;
                        }

                        .accordion-header {
                            margin-bottom: 0;

                            .accordion-button {
                                padding: 12px 30px 12px 15px;
                                font-size: 20px;
                                font-weight: 600;
                                background: #fff !important;
                                color: #444 !important;
                                line-height: 24px;
                                position: relative;
                            }
                        }

                        .accordion-collapse {
                            .accordion-body {
                                padding: 15px 15px 5px;

                                ul {
                                    padding-left: 20px;
                                    list-style: disc;

                                    li {
                                        position: relative;
                                        margin-bottom: 10px;
                                        font-size: 16px;
                                        font-weight: 400;
                                        line-height: 24px;
                                    }
                                }
                            }
                        }
                    }
                }
            }


        }
    }

    #related-tour {
        padding: 60px 0;
        background-color: #f8f8f8;

        .title {
            font-weight: bold;
            font-size: 26px;
            margin-bottom: 30px;
        }

        .item {
            box-shadow: 0 0.25rem 1.125rem rgba(75, 70, 92, .1);
            height: 100%;
            display: flex;
            flex-flow: column;
            position: relative;
            border-radius: 6px;
            overflow: hidden;

            .linkfull {
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;

                &:hover~.info {
                    .name {
                        color: #dd6e1e;
                    }

                    ins {
                        span {
                            background-color: #b72020;
                            color: white !important;
                        }
                    }
                }
            }

            .img {
                width: 100%;
                padding-top: 56.25%;
                overflow: hidden;
                position: relative;

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                }
            }

            .info {
                padding: 15px;
                display: flex;
                flex-flow: column;

                .name {
                    font-size: 16px;
                    transition: all .3s;
                    color: #444444;
                    font-weight: bold;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    margin-bottom: 6px;
                    transition: all 0.4s;
                }

                .local {
                    font-size: 14px;

                    i {
                        width: 16px;
                        color: #828282;
                        margin-right: 3px;
                    }
                }

                .divider {
                    margin: 15px 0;
                    border-top: 2px dashed #dedede;
                }

                .box_price {
                    display: flex;
                    align-items: flex-end;
                    justify-content: space-between;

                    .time {
                        font-size: 14px;
                        padding: 5px 10px;
                        background-color: #f3f3f3;
                        border-radius: 4px;
                    }

                    .price {
                        display: flex;
                        flex-direction: column;
                        text-align: right;
                        font-size: 16px;
                        line-height: 24px;
                        font-weight: 400;
                        color: #1e4f3f;

                        ins {
                            text-decoration: none;
                            margin-top: 8px;

                            span {
                                transition: all .3s;
                                font-size: 16px;
                                font-weight: bold;
                                color: #b72020;
                                border: 2px solid #b72020;
                                padding: 5px 10px;
                                border-radius: 4px;
                                transition: all 0.4s;
                            }
                        }
                    }
                }
            }
        }
    }

    #faqs-tour {
        padding: 60px 0;

        .block_faq {
            max-width: 100%;
            width: 800px;
            display: block;
            margin: 0 auto;

            h2 {
                font-weight: bold;
                font-size: 28px;
            }

            form.searchfaq {
                display: flex;
                justify-content: flex-end;
                margin-bottom: 30px;

                .inputsearch {
                    position: relative;
                    flex-grow: 1;

                    svg {
                        fill: #18B394;
                        display: inline-block;
                        position: absolute;
                        width: 1.1em;
                        height: 1.1em;
                        left: 9px;
                        top: 50%;
                        transform: translateY(-50%);
                    }

                    input {
                        border: 0px;
                        border-radius: 16px 16px 16px 16px;
                        background-color: #F9F9F9;
                        color: #898F92;
                        padding: 3px 10px;
                        padding-left: calc(1.5em + 0.75rem);
                        padding-right: 1.5em;
                        width: 100%;
                        margin: 0px;
                        font-size: 1em;
                        box-shadow: none;
                        outline: none;
                        height: 42px;
                    }
                }

                button {
                    font-size: 16px;
                    font-weight: 400;
                    background: #1e4f3f;
                    border: 1px solid #1e4f3f;
                    border-radius: 16px;
                    min-height: 42px;
                    color: #FFFFFF;
                    cursor: pointer;
                    display: inline-block;
                    outline-style: none;
                    margin-top: 0px;
                    margin-bottom: 0px;
                    margin-left: 10px;
                    margin-right: 0px;
                    padding: 5px 15px;
                    transition: all 0.4s;

                    &:hover {
                        color: #1e4f3f;
                        background: #FFFFFF;
                    }
                }
            }

            .cr-qna-list-block {
                .cr-qna-list-empty {
                    padding: 30px;
                    text-align: center;
                }
            }
        }
    }
}