$color_1: #3378ea;
$color_2: #dd3173;
$color_3: #2f76b0;
$color_4: #eb3223;
$color_5: #000;
$color_6: #212529;
$color_7: #fe693b;
$color_8: #828282;
$background-color_1: #fff;
$background-color_2: #EFF3F2;

/* Footer */
#footer {
	border-top: 1px solid #000;
	background-color: $background-color_1;
	.footer-top {
		padding: 40px 0;
	}
	.text-review {
		gap: 10px;
		margin-top: 10px;
	}
	.footer-social{
		@media (max-width: 768px){
			display: flex;
			align-items: flex-start;
		}
	}
	.footer-follow {
		border-top: 1px solid #bfbfbf;
		padding-top: 15px;
		margin-top: 15px;

		@media (max-width: 768px){
			margin-top: 0;
			border: none;
			padding-top: 0;
			margin-left: 10px;
			padding-left: 10px;
			border-left: 1px solid #bfbfbf;
		}
		.text {
			font-size: 16px;
			font-weight: 500;
			margin-bottom: 5px;
		}
		.logo {
			display: flex;
			gap: 8px;
			font-size: 30px;
			i.fa-facebook {
				color: $color_1;
			}
			i.fa-instagram {
				color: $color_2;
			}
			i.fa-pinterest {
				color: $color_3;
			}
			i.fa-youtube {
				color: $color_4;
			}
		}
	}
	.footer-menu {
		@media (max-width: 768px){
			margin-top: 20px;
		}

		.list-menu {
			list-style: none;
			padding-left: 0;

			@media (max-width: 768px){
				display: flex;
				flex-wrap: wrap;
				margin-bottom: 40px;
			}

			.menu-item {
				font-size: 16px;
				font-weight: 500;
				color: $color_5;
				text-decoration: none;
				margin-bottom: 15px;

				@media (max-width: 768px){
					width: 50%;
				}
				a {
					text-decoration: none;
					color: $color_5;
				}
			}
		}
	}
	.footer-contact {
		h4 {
			text-transform: uppercase;
			font-size: 16px;
			font-weight: bold;
			margin-bottom: 10px;
		}
		.footer-support {
			padding-left: 0;
			margin-bottom: 15px;
			.support-item {
				margin-bottom: 5px;
				a {
					color: $color_6;
					text-decoration: none;
					font-size: 16px;
					transition: all 0.3s ease-in-out;
					&:hover {
						color: $color_7;
					}
					i {
						color: $color_7;
					}
				}
				a.mail {
					i {
						padding-right: 5px;
					}
				}
				a.phone {
					font-weight: 500;
				}
			}
		}
	}
	.footer-branch {
		padding-left: 0;
		list-style: none;
		.branch-item {
			margin-bottom: 12px;
			font-size: 14px;
		}
	}
	.footer-bottom {
		padding: 40px 0 20px;
		background-color: $background-color_2;

		.bottom-wrapper{
			@media (max-width: 768px){
				display: block !important;
			}
		}

		.bottom-left {
			@media (max-width: 768px){
				width: 100%;
				margin-bottom: 10px;
			}

			p {
				font-size: 14px;
				margin-bottom: 4px;
				color: $color_8;
			}
		}

		.bottom-right{
			@media (max-width: 768px){
				margin-left: auto;
				max-width: max-content;
			}
		}
	}
	.footer-logo {
		@media (max-width: 768px){
			margin-bottom: 10px;
		}

		.logo{
			display: block;
			max-width: 110px;
		}

		img {
			width: 100%;
			height: auto;
			max-width: 180px;
		}
	}
}
