main#pageTicketDetail{
    padding: 20px 0;

    .banner-hero,
    .service{
        display: none;
    }

    .wrapper-card{
        margin-bottom: 16px;
        background: #fff;
        transition: all .3s;
        border-radius: 2px;
        box-shadow: 0 1px 3px rgba(0,0,0,.25), 0 3px 6px rgba(75,75,75,.08);
        padding: 12px;
        position: relative;
        font-size: 16px;
        color: #444;

        &:hover{
            box-shadow: 0 1px 3px #00000040, 0 1px 3px #4b4b4b33, 0 3px 6px #4b4b4b33;
        }

        .title{
            border-bottom: 2px solid #1e4f3f;
            font-weight: 700;
            margin-bottom: 12px;
            padding: 0 0 4px;
            font-size: 22px;
            color: #444;
        }

        h3{
            font-size: 18px;
            color: #444;
            margin-bottom: 16px;
            margin-top: 10px;
            font-weight: bolder;
        }

        h4{
            font-size: 20px;
            color: #444;
            margin-bottom: 16px;

            @media (max-width: 768px){
                font-size: 18px;
            }
        }

        p{
            margin-bottom: 16px;

            @media (max-width: 768px){
                font-size: 14px;
            }
        }

        td{
            @media (max-width: 768px){
                font-size: 14px;
            }
        }

        a{
            position: relative;
            display: inline-block;
            
            &::after{
                content: "";
                width: 0;
                height: 1px;
                background-color: #3366ff;
                position: absolute;
                top: calc(100% - 2px);
                left: 0;
                transition: all 0.4s ease-out;
            }
            &:hover{
                &::after{
                    width: 100%;
                }
            }
        }

        .trip-info{
            display: flex;

            @media (max-width: 768px){
                flex-direction: column;
            }

            .trip-content{
                width: 75%;
                padding: 8px;
                padding-right: 20px;

                @media (max-width: 768px){
                    width: 100%;
                    padding-right: 0;
                }
            }

            .trip-cta{
                width: 25%;

                display: flex;
                flex-direction: column;
                padding: 8px;
                border-left: 1px solid #eaeaea;

                @media (max-width: 768px){
                    width: 100%;
                    border-left: unset;
                    border-top: 1px solid #eaeaea;
                }

                &-top{
                    display: flex;
                    justify-content: space-between;
                    gap: 10px;
                    margin-bottom: 15px;

                    .label{
                        display: flex;
                        gap: 5px;
                        flex-wrap: wrap;

                        @media (max-width: 768px){
                            font-size: 14px;
                        }
                    }

                    .price{
                        display: flex;
                        flex-direction: column;
                        color: #444;
                        font-size: 16px;

                        .price-regular{
                            text-decoration: line-through;
                        }

                        .price-sale{
                            text-decoration: underline;
                            font-weight: bold;
                        }
                    }
                }

                form{
                    p{
                        font-size: 16px;
                    }

                    .wrapper-input{
                        width: 100%;
                        position: relative;
                        
                        input{
                            border: 1px solid #c4c4c4;
                            width: 100%;
                            max-width: 100%;
                            display: block;
                            line-height: 18px;
                            outline: none;
                            height: 40px;
                            padding-left: 20px;
                            padding-right: 5px;

                            &::-webkit-calendar-picker-indicator{
                                width: 20px;
                                height: 20px;
                            }
                        }

                        span{
                            font-size: 20px;
                            position: absolute;
                            right: 15px;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                    }

                    select{
                        margin-top: 10px;
                        padding: 6px 12px;
                        line-height: 1.7;
                        font-size: 13px;
                        border: 1px solid #ccc;
                        display: block;
                        border-radius: 0;
                        background: #FFFFFF;
                    }

                    .total{
                        margin: 20px 0;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        font-weight: bold;

                        .price{
                            font-size: 26px;
                            font-weight: bold;
                            color: #b72020;
                        }
                    }

                    button{
                        border-radius: 1px;
                        border: none;
                        width: 100%;
                        display: inline-block;
                        text-align: center;
                        font-size: 14px;
                        padding: 7px 8px;
                        background: #1e4f3f;
                        color: #fff;
                        font-weight: bold;
                        border: 1px solid #1e4f3f;
                        transition: all 0.3s ease-in-out;

                        &:hover{
                            color: #1e4f3f;
                            background-color: transparent;
                        }
                    }

                    .payment{
                        margin-top: 10px;
                        float: right;
                        border-radius: 4px;
                        background-color: #ffc439;

                        img{
                            height: 20px;
                            width: auto;
                            padding: 3px 30px;
                        }
                    }
                }
            }

            .trip-line-wrapper{
                padding-left: 30px;
                position: relative;

                &::before{
                    content: "";
                    height: calc(100% - 20px);
                    width: 2px;
                    background-color: #1e4f3f;
                    position: absolute;
                    left: 3px;
                    top: 10px;
                }

            }

            .trip-line-item{
                font-size: 14px;
                margin-bottom: 5px;
                color: #444;

                .time{
                    font-weight: 600;
                }

                &.departure,
                &.destination{
                    position: relative;

                    &::before{
                        content: "";
                        position: absolute;
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        background-color: #1e4f3f;
                        left: -30px;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }

                &.text{
                    display: flex;
                    align-items: center;
                    margin-left: 10px;
                }
            }

            .trip-note{
                font-size: 16px;
                color: #444;

                @media (max-width: 768px){
                    font-size: 14px;
                }
            }
        }

        &.card-gallery{
            .gallery-top{
                .list{
                    display: flex;
                    overflow-x: scroll;
                    padding-bottom: 10px;

                    .item{
                        height: 100px;
                        width: 150px;
                        min-width: 150px;
                        margin-right: 10px;

                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }

                        &.rating{
                            display: flex;
                            border-right: 1px solid #eaeaea;;
                            height: unset;
                            background: #eaeaea;
                            justify-content: center;
                            align-items: center;
                            font-weight: bolder;
                            color: #212529;

                            position: relative;

                            a{
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                top: 0;
                                left: 0;
                            }
                        }
                    }
                }
            }

            .gallery-bottom{
                .list-condition{
                    display: flex;
                    flex-wrap: wrap;
                    padding: 16px 0 8px;

                    .condition-item{
                        display: flex;
                        flex-grow: 1;
                        align-items: center;
                        margin-bottom: 4px;
                        margin-top: 8px;
                        gap: 5px;
                        font-size: 16px;
                        color: #444;

                        @media (max-width: 768px){
                            font-size: 14px;
                        }
                    }
                }
            }
        }

        &.card-rating{
            h3{
                margin-bottom: 5px;
            }

            form{
                .rating{
                    margin-bottom: 0;
                }

                .star{
                    margin-bottom: 10px;
                }

                .review{
                    margin-bottom: 5px;
                    font-weight: bold;
                }

                textarea{
                    border-radius: 10px;
                    background-color: #f8f8f8;
                    border: none;
                    min-height: 75px;
                    width: 100%;
                    padding: 10px;
                    font-size: 14px;
                    margin-bottom: 10px;
                }

                label{
                    margin-bottom: 5px;
                }

                .form-download{
                    display: flex;
                    width: 100%;

                    input{
                        background-color: #e9ecef;
                        //height: 40px;
                        padding: 10px;
                        border: 1px solid #c4c4c4;
                        font-size: 16px;
                        color: #212529;
                        flex: 1 1 auto;
                    }

                    button{
                        border: 1px solid #c4c4c4;
                        background-color: #6c757d;
                        border-radius: unset;
                        color: #fff;
                        font-size: 16px;
                        padding: 0 10px;
                        letter-spacing: 0.2px;
                    }
                }

                .field{
                    margin-top: 15px;
                    display: flex;
                    flex-direction: column;

                    input{
                        border: 1px solid #c4c4c4;
                        font-size: 16px;
                        color: #444;
                        padding: 10px;
                        border-radius: unset;
                    }

                    label{
                        color: #444;
                        font-size: 16px;
                    }
                }

                .check{
                    margin-top: 15px;
                    display: flex;
                    align-items: center;
                    
                    input{
                        width: 15px;
                        height: 15px;
                        accent-color: #444;
                        margin-right: 10px;
                    }
                }

                button[type='submit']{
                    background: #1e4f3f;
                    border-radius: 16px;
                    color: #fff;
                    padding: 5px 20px;
                    font-weight: bold;
                    margin-top: 15px;
                    margin-bottom: 10px;
                    border: 1px solid #1e4f3f;
                    transition: all 0.3s ease-in-out;

                    &:hover{
                        color: #1e4f3f;
                        background-color: transparent;
                    }
                }
            }
        }
    }
}