:root {
  --primary-color: #212529;
  --secondary-color: #828282;
}

html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
  color: #444 !important;
  background-color: #36716014 !important;
}
  * {
    margin: 0;
    padding: 0;
  }
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  html ul{
    padding-left: 0;
    list-style-type: none;
  }
  html input,
  html textarea,
  html select,
  html button {
    outline: none;
    box-shadow: none !important;
    
  }
  html input {
    line-height: normal;
  }
  label,
  button {
    cursor: pointer;
  }
  a {
    text-decoration: none !important;
  }
  img {
    display: block;
    max-width: 100%;
  }