/* Header */
/* section poppular-advantures */
/* Footer */
body main {
  min-height: 100vh;
}

/* Header */
#header {
  background-color: #FFF;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
  z-index: 9999;
}
@media (max-width: 992px) {
  #header > .container {
    width: 100%;
    max-width: 100%;
  }
}
#header .header-logo {
  max-height: 60px;
  object-fit: contain;
  max-width: 220px;
  min-width: 150px;
}
@media (max-width: 768px) {
  #header .header-logo {
    max-width: 180px;
  }
}
#header .backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
#header .menu {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
@media (max-width: 992px) {
  #header .menu {
    display: flex !important;
    flex-direction: column;
    max-height: calc(100vh + 70px);
    height: 100%;
    min-width: 375px;
    max-width: 100%;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(100%);
    transition: all 0.4s;
    background-color: #FFF;
  }
  #header .menu.open {
    transform: translateX(0);
    overflow-y: scroll;
    padding-bottom: 40px;
  }
}
#header .menu .menu-item {
  position: relative;
}
#header .menu .menu-item.btn-close {
  display: none;
}
@media (max-width: 992px) {
  #header .menu .menu-item.btn-close {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    color: #000;
    opacity: 1;
  }
}
#header .menu .menu-item.form-search-mobile {
  display: none;
}
@media (max-width: 992px) {
  #header .menu .menu-item.form-search-mobile {
    display: block;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
  }
}
#header .menu .menu-item.form-search-mobile form {
  display: block !important;
  margin: 0 20px;
}
#header .menu .menu-item.form-search-mobile form input {
  border-radius: 4px;
  max-width: 100%;
  width: 100%;
  padding-left: 50px;
  height: 50px;
}
#header .menu .menu-item.form-search-mobile form button {
  left: 0;
  width: 50px;
  height: 50px;
}
#header .menu .menu-item:not(:last-child) {
  margin-right: 10px;
}
@media (max-width: 992px) {
  #header .menu .menu-item:not(:last-child) {
    margin-right: 0;
  }
}
#header .menu .menu-item a {
  display: flex;
  color: #444;
  border-radius: 20px;
  font-weight: 700;
  align-items: center;
  transition: none;
  padding: 8px 20px;
  border: 2px solid transparent;
  font-size: 16px;
  text-decoration: none;
  border-radius: 24px;
  border: 2px solid transparent;
  transition: ease-out 0.3s;
}
@media (max-width: 992px) {
  #header .menu .menu-item a {
    border: none !important;
    border-radius: unset;
    padding: 15px 20px;
  }
}
#header .menu .menu-item a:hover {
  border: 2px solid #000;
}
#header .menu .menu-item.has-children {
  position: relative;
}
@media (max-width: 992px) {
  #header .menu .menu-item.has-children::before {
    content: url("../images/icon-svgs/caret-down-solid.svg");
    width: 9px;
    height: 14px;
    position: absolute;
    right: 20px;
    top: 16px;
  }
}
#header .menu .menu-item.has-children::after {
  content: "";
  width: 100%;
  height: 10px;
  background-color: transparent;
  position: absolute;
  top: 100%;
}
@media (max-width: 992px) {
  #header .menu .menu-item.has-children::after {
    display: none;
  }
}
#header .menu .menu-item.has-children > .sub-menu {
  position: absolute;
  left: 0;
  top: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  border-radius: 8px;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  font-size: 14px;
  padding-left: 0;
  list-style: none;
  margin-top: 8px;
}
@media (max-width: 992px) {
  #header .menu .menu-item.has-children > .sub-menu {
    position: unset;
    margin-top: 0;
    box-shadow: none;
    visibility: visible;
    opacity: 1;
  }
}
#header .menu .menu-item.has-children > .sub-menu .menu-item a {
  padding: 8px 10px;
  font-weight: normal;
}
@media (max-width: 992px) {
  #header .menu .menu-item.has-children > .sub-menu .menu-item a {
    padding: 15px 20px;
    font-size: 16px;
  }
}
#header .menu .menu-item.has-children > .sub-menu .menu-item a:hover {
  border-color: transparent;
}
#header .menu .menu-item.has-children:hover > .sub-menu {
  opacity: 1;
  visibility: visible;
}
#header .menu .menu-item.has-children.many-children.open > .sub-menu {
  height: auto;
}
#header .menu .menu-item.has-children.many-children > .sub-menu {
  min-width: 678px;
  min-height: 336px;
  overflow: hidden;
  display: flex;
  width: 100%;
}
@media (max-width: 992px) {
  #header .menu .menu-item.has-children.many-children > .sub-menu {
    flex-wrap: wrap;
    min-height: unset;
    height: 0;
    overflow: hidden;
    transition: all ease-out;
  }
}
#header .menu .menu-item.has-children.many-children > .sub-menu .menu-item.left {
  width: 25%;
  background-color: #ededed;
}
@media (max-width: 992px) {
  #header .menu .menu-item.has-children.many-children > .sub-menu .menu-item.left {
    width: 100%;
    background-color: #fff;
  }
}
#header .menu .menu-item.has-children.many-children > .sub-menu .menu-item.left .menu-link.active {
  background-color: #FFF;
  border-radius: unset;
}
@media (max-width: 992px) {
  #header .menu .menu-item.has-children.many-children > .sub-menu .menu-item.left .menu-link {
    color: #1e4f3f;
    font-weight: normal;
  }
}
#header .menu .menu-item.has-children.many-children > .sub-menu .menu-item.right {
  width: 75%;
}
@media (max-width: 992px) {
  #header .menu .menu-item.has-children.many-children > .sub-menu .menu-item.right {
    width: 100%;
  }
}
@media (max-width: 992px) {
  #header .menu .menu-item.has-children.many-children > .sub-menu .menu-item.right .menu-link {
    color: #1e4f3f;
    font-weight: normal;
  }
}
#header .menu .menu-item.has-children.many-children > .sub-menu .menu-item .menu-tab {
  visibility: hidden;
  opacity: 0;
  height: 0;
}
#header .menu .menu-item.has-children.many-children > .sub-menu .menu-item .menu-tab.active {
  height: auto;
  visibility: visible;
  opacity: 1;
}
#header .menu .menu-item.has-children.many-children > .sub-menu .menu-item .menu-tab .sub-menu {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
}
#header .menu .menu-item.has-children.many-children > .sub-menu .menu-item .menu-tab .sub-menu .menu-item:not(.title) {
  width: 30%;
}
@media (max-width: 992px) {
  #header .menu .menu-item.has-children.many-children > .sub-menu .menu-item .menu-tab .sub-menu .menu-item:not(.title) {
    width: 100%;
  }
}
@media (max-width: 1200px) {
  #header .menu .menu-item.has-children.many-children > .sub-menu {
    min-width: unset;
  }
}
#header .menu .menu-item.has-children.many-children > .sub-menu .menu-item.has-children {
  position: relative;
  background-color: #ededed;
  width: 25%;
  position: unset;
}
#header .menu .menu-item.has-children.many-children > .sub-menu .menu-item.has-children > .sub-menu {
  position: absolute;
  left: 25%;
  top: 0;
  opacity: 0;
  visibility: hidden;
  margin-top: 0;
  border-radius: unset;
  box-shadow: none;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  min-width: 500px;
  padding: 15px;
}
#header .menu .menu-item.has-children.many-children > .sub-menu .menu-item.has-children a.active {
  background-color: #fff;
  border-radius: unset;
}
#header .menu .menu-item.has-children.many-children > .sub-menu .menu-item.has-children a.active + .sub-menu {
  opacity: 1;
  visibility: visible;
  z-index: 2;
}
#header .menu .menu-item.has-children.many-children > .sub-menu .menu-item.has-children .menu-item {
  width: 33.3333333333%;
  margin-right: 0;
  margin-bottom: 5px;
}
#header .menu .menu-item.has-children.many-children > .sub-menu .menu-item.has-children .menu-item a {
  padding: 0;
}
@media (max-width: 992px) {
  #header .menu .menu-item.has-children.many-children > .sub-menu .menu-item.has-children .menu-item .menu-link {
    font-weight: normal;
    color: #1e4f3f;
  }
}
#header .menu .menu-item.has-children.many-children > .sub-menu .menu-item.has-children.active {
  background-color: #fff;
}
#header .menu .menu-item.has-children.many-children .menu-item.title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
  text-transform: uppercase;
  width: 100% !important;
}
@media (max-width: 992px) {
  #header .menu .menu-item.has-children.many-children .menu-item.title {
    display: none;
  }
}
#header .menu .menu-item.has-children.many-children .menu-item.title a {
  font-weight: 700;
}
#header .tripadvisor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  padding: 10px;
  border-right: 1px solid #f2f2f2;
  border-left: 1px solid #f2f2f2;
  text-decoration: none;
}
@media (max-width: 992px) {
  #header .tripadvisor {
    border: none;
    padding: 10px 0;
  }
}
#header .tripadvisor img {
  height: auto;
  width: 100%;
  max-width: 70px;
  margin: 0 auto;
}
#header .tripadvisor span {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #333;
  text-align: center;
}
@media (max-width: 992px) {
  #header .tripadvisor span {
    display: none;
  }
}
#header .header__button {
  display: flex;
}
#header .header__button .header__button--wishlist {
  padding: 8px 10px;
  display: flex;
  align-items: center;
}
#header .header__button .header__button--wishlist span {
  font-size: 30px;
  position: relative;
  color: #f47921;
}
#header .header__button .header__button--wishlist span.wishlist-count {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  color: white;
}
@media (max-width: 992px) {
  #header .header__button .header__button--wishlist {
    display: none;
  }
}
#header .header__button .header__button--cart {
  padding: 8px 10px;
  display: flex;
  align-items: center;
}
#header .header__button .header__button--cart span {
  font-size: 24px;
  color: #f47921;
}
@media (max-width: 992px) {
  #header .header__button .header__button--cart span {
    color: #000;
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  #header .header__button .header__button--bars {
    display: block !important;
    padding: 8px 10px;
  }
  #header .header__button .header__button--bars span {
    font-size: 20px;
    color: #000;
  }
}
#header .header__search {
  position: relative;
}
@media (max-width: 1200px) {
  #header .header__search {
    display: none;
  }
}
#header .header__search input {
  border: none;
  background-color: #f1f2f3;
  border-radius: 20px;
  padding: 0 50px 0 15px;
  height: 40px;
  line-height: 40px;
}
@media (max-width: 1200px) {
  #header .header__search input {
    padding-left: 30px;
    max-width: 200px;
  }
}
#header .header__search button {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
  line-height: 40px;
  text-align: center;
}

section.banner-hero {
  background-image: url("https://fullmoontravel.asia/wp-content/uploads/2023/08/cau-vang-da-nang.jpg");
  height: 22.75vw;
  min-height: 320px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}
section.banner-hero .wrapper {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 60px;
  z-index: 3;
}
section.banner-hero .wrapper .title {
  font-size: 32px;
  padding: 5px 15px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
}
section.banner-hero .wrapper .search-form {
  margin-top: 20px;
}
section.banner-hero .wrapper .search-form__content {
  display: flex;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  width: 950px;
  max-width: 100%;
  margin: 0 auto;
}
section.banner-hero .wrapper .search-form__content__form {
  width: 80%;
  background-color: #fff;
  display: flex;
  height: 84px;
}
section.banner-hero .wrapper .search-form__content__form i {
  font-size: 38px;
  margin-right: 5px;
  color: #bababa;
}
section.banner-hero .wrapper .search-form__content__form .text {
  color: #828282;
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;
}
section.banner-hero .wrapper .search-form__content__form .text span {
  color: #555;
  display: block;
  font-weight: bold;
}
section.banner-hero .wrapper .search-form__content__form .text input {
  border: none;
  padding: 0;
  font-weight: bold;
  color: #555;
  background-image: url("../images/icon-svgs/icon-calendar.svg");
  background-repeat: no-repeat;
  background-position: 96% center;
  background-size: auto 60%;
  width: 100%;
}
section.banner-hero .wrapper .search-form__content__form .list {
  position: absolute;
  top: calc(100% - 10px);
  margin-bottom: 0;
  left: 20px;
  display: none;
  transition: all 0.3s;
  list-style: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35);
  border-radius: 8px;
  background-color: #fff;
  width: 250px;
  z-index: 999;
  padding: 10px 14px;
}
section.banner-hero .wrapper .search-form__content__form__des {
  width: 40%;
  padding: 15px 0 15px 20px;
  display: flex;
  position: relative;
  align-items: center;
}
section.banner-hero .wrapper .search-form__content__form__price {
  width: 30%;
  padding: 15px 0 15px 20px;
  display: flex;
  position: relative;
  align-items: center;
}
section.banner-hero .wrapper .search-form__content__form__date {
  width: 30%;
  padding: 15px 0 15px 20px;
  display: flex;
  position: relative;
  align-items: center;
}
section.banner-hero .wrapper .search-form__content #search_button {
  font-size: 18px;
  font-weight: bold;
  height: 84px;
  color: #fff;
  text-align: center;
  width: 20%;
  background-color: #1e4f3f;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
}

section.service {
  padding: 20px 0;
  background-color: #fbfbfb;
}
section.service .item {
  display: flex;
  align-items: center;
  width: 33.3333333333%;
  padding: 0 4%;
}
section.service .item .icon {
  height: 55px;
  width: 55px;
  object-fit: contain;
  margin-right: 15px;
}
section.service .item .name {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}

section.popuplar-advantures {
  padding: 40px 0 30px;
}
section.popuplar-advantures .home_title {
  margin-bottom: 30px;
}
section.popuplar-advantures .home_title h2 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10px;
}
section.popuplar-advantures .list-item {
  gap: 24px 0;
}
section.popuplar-advantures .list-item .card-item {
  flex-direction: column;
  justify-content: space-between;
  font-size: 16px;
  margin-bottom: 0;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 0.25rem 1.125rem rgba(75, 70, 92, 0.1);
}
section.popuplar-advantures .list-item .card-item__img {
  width: 100%;
  padding-top: 56.25%;
  position: relative;
  overflow: hidden;
}
section.popuplar-advantures .list-item .card-item__img:hover a img {
  transform: scale(1.08);
}
section.popuplar-advantures .list-item .card-item__img a {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
section.popuplar-advantures .list-item .card-item__img a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s;
}
section.popuplar-advantures .list-item .card-item__infor {
  width: 100%;
  padding: 15px;
  flex: 1;
}
section.popuplar-advantures .list-item .card-item__infor h3.name {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}
section.popuplar-advantures .list-item .card-item__infor h3.name a {
  line-height: normal;
  color: #212529;
  cursor: pointer;
  text-decoration: unset;
}
section.popuplar-advantures .list-item .card-item__infor .star-rating {
  margin-bottom: 6px;
}
section.popuplar-advantures .list-item .card-item__infor .address {
  color: #828282;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
section.popuplar-advantures .list-item .card-item__box {
  width: 100%;
  flex-direction: row;
  align-items: center;
  padding: 0 15px 15px;
}
section.popuplar-advantures .list-item .card-item__box .price {
  width: auto;
  display: flex;
  align-items: center;
}
section.popuplar-advantures .list-item .card-item__box .price del {
  margin-right: 6px;
}
section.popuplar-advantures .list-item .card-item__box .price del span {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #444;
}
section.popuplar-advantures .list-item .card-item__box .price ins span {
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  color: #b72020;
}
section.popuplar-advantures .list-item .card-item__box .view-tour {
  display: inline-flex;
  padding: 10px 15px;
  color: #fff;
  background-color: #d8232a;
  font-weight: 600;
  border-radius: 5px;
  transition: all 300ms ease-in-out;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  border: 1px solid #d8232a;
}
section.popuplar-advantures .list-item .card-item__box .view-tour:hover {
  color: #d8232a;
  background-color: #fff;
}

section.top-destination {
  padding: 30px 0;
  background-color: #f1f2f3;
}
section.top-destination h4.title {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 30px;
}
section.top-destination .destination-top h5 {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 16px;
}
@media (max-width: 768px) {
  section.top-destination .destination-top .container-content {
    row-gap: 10px;
  }
}
section.top-destination .destination-top .container-content .list-item {
  padding-left: 0;
  list-style: none;
}
section.top-destination .destination-top .container-content .list-item li {
  margin-bottom: 10px;
  font-size: 14px;
}
section.top-destination .destination-top .container-content .list-item li a {
  color: #212529;
  text-decoration: none;
}
section.top-destination .destination-bottom {
  margin-top: 30px;
}
section.top-destination .destination-bottom h5 {
  font-weight: 600;
  font-size: 16px;
}
@media (max-width: 768px) {
  section.top-destination .destination-bottom h5 {
    font-size: 14px;
    margin-bottom: 15px;
  }
}
section.top-destination .destination-bottom .top-tour {
  padding-top: 30px;
  border-top: 1px solid #dcdcdc;
}
section.top-destination .destination-bottom .top-tour .group-city:not(:last-child) {
  margin-bottom: 20px;
}
section.top-destination .destination-bottom .content-list .list-item {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
section.top-destination .destination-bottom .content-list .list-item li {
  width: 25%;
  margin-bottom: 10px;
  font-size: 14px;
}
@media (max-width: 768px) {
  section.top-destination .destination-bottom .content-list .list-item li {
    width: 50%;
  }
}
section.top-destination .destination-bottom .content-list .list-item li a {
  color: #212529;
  text-decoration: none;
}

section.feature_home {
  padding: 20px 0;
}
section.feature_home .inner {
  border-top: 1px solid #828282;
  border-bottom: 1px solid #828282;
  padding: 15px 0;
}
section.feature_home .inner .title {
  font-size: 16px;
  font-weight: 700;
}
section.feature_home .inner .sub_title {
  text-transform: uppercase;
  font-size: 20px;
}
section.feature_home .inner .col-feature {
  width: auto;
}
section.feature_home .inner .col-feature img {
  max-height: 25px;
  object-fit: contain;
}

section.support_home {
  padding: 20px 0;
}
section.support_home .box_support {
  margin-top: 60px;
  padding: 25px;
  background-color: rgba(243, 120, 33, 0.14);
  border-radius: 5px;
  text-align: center;
}
section.support_home .box_support .avatar {
  width: 115px;
  height: 115px;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
  margin: -80px auto 20px;
}
section.support_home .box_support .title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
}
section.support_home .box_support .contact {
  margin: 15px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
section.support_home .box_support .contact img {
  object-fit: contain;
  max-height: 35px;
  margin: 0 20px;
}
section.support_home .box_support .cta {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 50px;
  font-weight: bold;
  padding: 0 40px;
  border-radius: 5px;
  background-color: #f37821;
  border: 1px solid #f37821;
  transition: all 0.4s;
}
section.support_home .box_support .cta:hover {
  color: #f37821;
  background-color: transparent;
}

section.comment {
  padding: 30px 0;
}
section.comment .home_title {
  margin-bottom: 30px;
}
section.comment .home_title .title {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}
section.comment .splide_comment .splide__slide .cr-review-card-inner {
  border: 1px solid #f8f8f8;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
section.comment .splide_comment .splide__slide .cr-review-card-inner .top-row {
  display: flex;
  padding: 16px 0 16px 0;
  border-bottom: solid 2px #F4F4F4;
  margin: 0 10px 0 10px;
}
section.comment .splide_comment .splide__slide .cr-review-card-inner .top-row .review-thumbnail {
  flex-basis: 56px;
  flex-shrink: 0;
  margin-right: 16px;
  position: relative;
}
section.comment .splide_comment .splide__slide .cr-review-card-inner .top-row .review-thumbnail img {
  max-width: 50px;
  max-height: 50px;
  border-radius: 25px;
}
section.comment .splide_comment .splide__slide .cr-review-card-inner .top-row .review-thumbnail .cr-avatar-check {
  width: 20px;
  height: 20px;
  background-color: #31856C;
  position: absolute;
  left: 34px;
  top: 28px;
  border-radius: 10px;
  border: 2px solid #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
section.comment .splide_comment .splide__slide .cr-review-card-inner .top-row .reviewer {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section.comment .splide_comment .splide__slide .cr-review-card-inner .top-row .reviewer-name {
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #203741;
  height: 50%;
  display: flex;
  align-items: center;
  font-weight: 700;
}
section.comment .splide_comment .splide__slide .cr-review-card-inner .rating-row {
  padding: 17px 0 12px 0;
  display: flex;
  align-items: center;
  margin: 0 10px 0 10px;
  overflow: hidden;
}
section.comment .splide_comment .splide__slide .cr-review-card-inner .rating-row .rating-label {
  margin: 0 0 0 16px;
  font-family: sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-align: left;
  color: #898F92;
}
section.comment .splide_comment .splide__slide .cr-review-card-inner .middle-row {
  padding: 16px;
  background: #FCFCFC;
  border: 1px solid #F9F9F9;
  border-radius: 6px;
  box-sizing: border-box;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  font-size: 16px;
  margin: 0 10px 15px 10px;
  flex: 1;
}
section.comment .splide_comment .splide__slide .cr-review-card-inner .middle-row .review-content {
  margin: 0 0 12px 0;
  color: #484E51;
}
section.comment .splide_comment .splide__slide .cr-review-card-inner .middle-row .datetime {
  font-weight: 300;
  font-size: 14px;
  color: #898F92;
}
section.comment .splide_comment .splide__slide .cr-review-card-inner .review-product {
  display: flex;
  border-radius: inherit;
  display: flex;
  padding: 10px;
  margin-top: 10px;
  line-height: 1;
}
section.comment .splide_comment .splide__slide .cr-review-card-inner .review-product .product-thumbnail {
  flex: 0 0 20%;
}
section.comment .splide_comment .splide__slide .cr-review-card-inner .review-product .product-thumbnail img {
  width: 50px;
  height: 50px;
  max-width: none;
  max-height: none;
}
section.comment .splide_comment .splide__slide .cr-review-card-inner .review-product .product-title {
  margin: auto 0;
  padding-left: 5px;
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #203741;
}
section.comment .splide_comment .splide__slide .cr-review-card-inner .review-product .product-title a {
  text-decoration: none;
  color: #212529;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
section.comment .splide_comment .splide__arrows .splide__arrow--prev {
  left: -3em;
}
section.comment .splide_comment .splide__arrows .splide__arrow--next {
  right: -3em;
}

section.popular-destination {
  padding: 30px 0;
}
section.popular-destination .title {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}
@media (max-width: 768px) {
  section.popular-destination .title {
    font-size: 24px;
  }
}
section.popular-destination .desc {
  color: #444;
  font-size: 16px;
  text-align: center;
}
@media (max-width: 768px) {
  section.popular-destination .desc {
    font-size: 14px;
  }
}
section.popular-destination .container-title {
  margin-bottom: 30px;
}
section.popular-destination .container-img {
  display: flex;
  flex-wrap: wrap;
}
section.popular-destination .container-img .item-img {
  position: relative;
}
section.popular-destination .container-img .item-img .title {
  color: #fff;
  font-size: 26px;
  font-weight: bold;
  position: absolute;
  bottom: 10px;
  left: 15px;
}
@media (max-width: 768px) {
  section.popular-destination .container-img .item-img .title {
    font-size: 20px;
  }
}
section.popular-destination .container-img .item-img .img-wrapper {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  padding-top: 50%;
}
section.popular-destination .container-img .item-img .img-wrapper a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}
section.popular-destination .container-img .item-img .img-wrapper img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transition: all 0.5s;
  object-fit: cover;
}
section.popular-destination .container-img .item-img .img-wrapper:hover img {
  transform: scale(1.1);
}
section.popular-destination .container-img .item-img.item-large {
  width: calc(50% - 6px);
  margin-right: 3px;
  margin-bottom: 3px;
}
@media (max-width: 768px) {
  section.popular-destination .container-img .item-img.item-large {
    width: 100%;
  }
}
section.popular-destination .container-img .item-img.item-small {
  width: calc(25% - 3px);
  margin-right: 3px;
  margin-bottom: 3px;
}
@media (max-width: 768px) {
  section.popular-destination .container-img .item-img.item-small {
    width: calc(50% - 3px);
  }
}
section.popular-destination .container-img .item-img.item-small .img-wrapper {
  padding-top: 100%;
}
@media (max-width: 768px) {
  section.popular-destination .container-img .item-img:nth-child(4) {
    order: 5;
  }
  section.popular-destination .container-img .item-img:nth-child(6) {
    order: 6;
  }
}

section.related-articles {
  padding: 30px 0;
}
section.related-articles h4.title {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  section.related-articles h4.title {
    font-size: 24px;
  }
}
section.related-articles .wrapper__list {
  padding-left: 0;
  list-style: none;
  row-gap: 20px;
}
@media (max-width: 768px) {
  section.related-articles .wrapper__list {
    row-gap: 25px;
  }
}
section.related-articles .wrapper__list .item-wrapper {
  position: relative;
}
section.related-articles .wrapper__list .item-wrapper .item-img {
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
  border-radius: 6px;
  position: relative;
}
section.related-articles .wrapper__list .item-wrapper .item-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}
section.related-articles .wrapper__list .item-wrapper .item-title {
  margin: 10px 0;
  font-size: 18px;
  font-weight: bold;
}
section.related-articles .wrapper__list .item-wrapper .item-info {
  color: #828282;
  font-size: 16px;
}
@media (max-width: 768px) {
  section.related-articles .wrapper__list .item-wrapper .item-info {
    font-size: 14px;
  }
}
section.related-articles .wrapper__list .item-wrapper > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
section.related-articles .wrapper__list .item-wrapper > a:hover + .item-img img {
  transform: scale(1.1);
}

section.travel-specialists {
  padding: 30px 0;
}
section.travel-specialists .content-wrapper {
  padding: 20px;
  background: #fbfbfb;
}
section.travel-specialists .content-title {
  position: relative;
  margin-bottom: 20px;
}
section.travel-specialists .content-title::before {
  content: "";
  display: block;
  width: 10px;
  height: 100%;
  background-color: #f47921;
  position: absolute;
  left: -20px;
  top: 0;
}
section.travel-specialists .content-title h4.title {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  section.travel-specialists .content-title h4.title {
    font-size: 24px;
    max-width: 80%;
  }
}
section.travel-specialists .content-title .desc {
  color: #444;
  font-size: 16px;
}
@media (max-width: 768px) {
  section.travel-specialists .content-title .desc {
    font-size: 14px;
  }
}
section.travel-specialists .content__list {
  padding-left: 0;
  list-style: none;
  row-gap: 20px;
}
section.travel-specialists .content__list .item-wrapper {
  max-width: 80%;
  margin: 0 auto;
}
section.travel-specialists .content__list .item-img {
  width: 100%;
  border-radius: 50%;
  aspect-ratio: 1;
  overflow: hidden;
}
section.travel-specialists .content__list .item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section.travel-specialists .content__list .title {
  margin-top: 5px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}
@media (max-width: 768px) {
  section.travel-specialists .content__list .title {
    font-size: 14px;
  }
}
section.travel-specialists .content__list .subtitle {
  color: #868686;
  text-align: center;
  margin-top: 5px;
}
@media (max-width: 768px) {
  section.travel-specialists .content__list .subtitle {
    font-size: 14px;
  }
}
section.travel-specialists .content-button {
  margin: 0 auto;
  width: max-content;
}
section.travel-specialists .content-button a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
  border: 1px solid #f47921;
  color: #f47921;
  border-radius: 20px;
  margin-top: 20px;
  height: 38px;
  text-decoration: none;
  background-color: transparent;
  transition: all 0.3s;
  padding-bottom: 3px;
}
section.travel-specialists .content-button a:hover {
  color: #fff;
  background-color: #f47921;
}

main#detailPage #breadcrumb {
  padding: 9px 0;
}
main#detailPage #breadcrumb nav * {
  margin-bottom: 0;
  color: #bdbdbd;
  font-size: 14px;
  line-height: 16px;
}
main#detailPage #tour-detail .tour-detail__content .tour-gallery {
  margin-bottom: 40px;
}
main#detailPage #tour-detail .tour-detail__content .tour-gallery .splide__gallery .splide__slide {
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
  cursor: pointer;
}
main#detailPage #tour-detail .tour-detail__content .tour-gallery .splide__gallery .splide__slide img {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
}
main#detailPage #tour-detail .tour-detail__content #tab-details .nav-details {
  margin-bottom: 25px;
}
main#detailPage #tour-detail .tour-detail__content #tab-details .nav-details ul {
  border-bottom: 1px solid #ebebeb;
  white-space: nowrap;
  margin-bottom: 0;
  padding: 0;
}
main#detailPage #tour-detail .tour-detail__content #tab-details .nav-details ul li {
  list-style: none;
  display: inline-block;
  margin-bottom: -1px;
  margin-right: 45px;
}
main#detailPage #tour-detail .tour-detail__content #tab-details .nav-details ul li.is-active a {
  border-bottom: 3px solid #e9680c;
  color: #e9680c;
}
main#detailPage #tour-detail .tour-detail__content #tab-details .nav-details ul li a {
  padding: 5px 0;
  display: block;
  border-bottom: 3px solid transparent;
  color: #828282;
  font-weight: 500;
  transition: all 0.4s;
}
main#detailPage #tour-detail .tour-detail__content #tab-details .nav-details ul li a:hover {
  color: #e9680c;
}
main#detailPage #tour-detail .tour-detail__content #h_tour_overview .content-post {
  width: 100%;
}
main#detailPage #tour-detail .tour-detail__content #h_tour_overview .content-post * {
  width: 100% !important;
}
main#detailPage #tour-detail .tour-detail__content #h_tour_overview .content-post img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
main#detailPage #tour-detail .tour-detail__content .tour-content-right .inner {
  padding: 20px 8px 20px 36px;
}
main#detailPage #tour-detail .tour-detail__content .tour-content-right .inner .tour-title {
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: 700;
}
main#detailPage #tour-detail .tour-detail__content .tour-content-right .inner .tour-rating {
  margin-top: 4px;
  margin-bottom: 32px;
}
main#detailPage #tour-detail .tour-detail__content .tour-content-right .inner .tour-rating a {
  margin-left: 6px;
  text-decoration: none;
  color: #212529;
  cursor: pointer;
  display: block;
}
main#detailPage #tour-detail .tour-detail__content .tour-content-right .inner .tour-price del {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #444;
  margin-right: 6px;
}
main#detailPage #tour-detail .tour-detail__content .tour-content-right .inner .tour-price ins {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #444;
}
main#detailPage #tour-detail .tour-detail__content .tour-content-right .inner .tour-price ins span {
  font-size: 26px;
  line-height: 39px;
  font-weight: 700;
  color: #b72020;
}
main.pageTours .list-tours {
  padding: 40px 0;
}
main.pageTours .sidebar__filter .filter__wrapper {
  border: 1px solid #297aa8;
  border-radius: 2px;
  background-color: #fff;
}
main.pageTours .sidebar__filter .filter__wrapper .filter-title {
  padding: 18px 20px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 18px;
  color: #1e4f3f;
  background-color: rgba(45, 155, 219, 0.0745098039);
  font-weight: 500;
  gap: 10px;
}
main.pageTours .sidebar__filter .filter__wrapper .group__filter {
  padding: 0 20px 20px;
}
main.pageTours .sidebar__filter .filter__wrapper .group__filter .title {
  font-size: 16px;
  color: #828282;
  font-weight: 600;
  margin-bottom: 15px;
  text-transform: uppercase;
}
main.pageTours .sidebar__filter .filter__wrapper .group__filter .filter-item {
  color: #212529;
  margin-bottom: 5px;
}
main.pageTours .sidebar__filter .filter__wrapper .group__filter .filter-item .title {
  color: #212529;
  margin-left: 25px;
  text-transform: none;
}
main.pageTours .sidebar__filter .filter__wrapper .group__filter .filter-item label {
  position: relative;
}
main.pageTours .sidebar__filter .filter__wrapper .group__filter .filter-item label:hover .title {
  color: #1e4f3f;
}
main.pageTours .sidebar__filter .filter__wrapper .group__filter .filter-item input {
  border-color: #1e4f3f;
  color: #1e4f3f;
  width: 15px;
  height: 15px;
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  accent-color: #fff;
}
main.pageTours .tours__list .list-order {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
main.pageTours .tours__list .list-order .title {
  font-weight: bold;
  margin-right: 20px;
  padding-bottom: 10px;
  font-size: 16px;
}
main.pageTours .tours__list .list-order button {
  padding: 8px 25px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 4px;
  font-size: 14px;
  margin: 0 10px 10px 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
main.pageTours .tours__list .list-order button:hover {
  background-color: rgba(45, 155, 219, 0.0745098039);
}
main.pageTours .tours__list .list__wrapper .item-tour {
  margin-bottom: 30px;
}
main.pageTours .tours__list .list__wrapper .item-tour .tour-wrapper {
  display: flex;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  font-size: 14px;
  width: 100%;
}
main.pageTours .tours__list .list__wrapper .item-tour .tour-wrapper .tour-img {
  width: 35%;
  position: relative;
  overflow: hidden;
}
main.pageTours .tours__list .list__wrapper .item-tour .tour-wrapper .tour-img a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
main.pageTours .tours__list .list__wrapper .item-tour .tour-wrapper .tour-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: all 0.5s;
}
main.pageTours .tours__list .list__wrapper .item-tour .tour-wrapper .tour-img:hover img {
  transform: scale(1.1);
}
main.pageTours .tours__list .list__wrapper .item-tour .tour-wrapper .tour-info {
  width: 50%;
  padding: 15px 0 15px 20px;
}
main.pageTours .tours__list .list__wrapper .item-tour .tour-wrapper .tour-info .name {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}
main.pageTours .tours__list .list__wrapper .item-tour .tour-wrapper .tour-info .name a {
  color: #212529;
}
main.pageTours .tours__list .list__wrapper .item-tour .tour-wrapper .tour-info p {
  color: #828282;
}
main.pageTours .tours__list .list__wrapper .item-tour .tour-wrapper .tour-info p i {
  font-size: 18px;
  margin-right: 5px;
  color: #828282;
}
main.pageTours .tours__list .list__wrapper .item-tour .tour-wrapper .tour-info .highlight {
  color: #3385d6;
  font-size: 14px;
  margin-bottom: 5px;
  transition: all 0.3s;
}
main.pageTours .tours__list .list__wrapper .item-tour .tour-wrapper .tour-info .highlight:hover {
  color: #d8232a;
}
main.pageTours .tours__list .list__wrapper .item-tour .tour-wrapper .tour-info .highlight.active {
  color: #d8232a;
}
main.pageTours .tours__list .list__wrapper .item-tour .tour-wrapper .tour-info .highlight.active + .list-highlight {
  height: auto;
  overflow: visible;
}
main.pageTours .tours__list .list__wrapper .item-tour .tour-wrapper .tour-info .list-highlight {
  list-style: none;
  margin-top: 10px;
  height: 0;
  overflow: hidden;
}
main.pageTours .tours__list .list__wrapper .item-tour .tour-wrapper .tour-info .list-highlight li {
  position: relative;
  margin-bottom: 5px;
}
main.pageTours .tours__list .list__wrapper .item-tour .tour-wrapper .tour-info .list-highlight li .fa-check {
  color: #d8232a;
  margin-right: 5px;
}
main.pageTours .tours__list .list__wrapper .item-tour .tour-wrapper .tour-action {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px;
}
main.pageTours .tours__list .list__wrapper .item-tour .tour-wrapper .tour-action .price {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
main.pageTours .tours__list .list__wrapper .item-tour .tour-wrapper .tour-action .price .price-regular {
  text-decoration: line-through;
}
main.pageTours .tours__list .list__wrapper .item-tour .tour-wrapper .tour-action .price .price-sale {
  font-size: 24px;
  color: #b72020;
  font-weight: bold;
  position: relative;
}
main.pageTours .tours__list .list__wrapper .item-tour .tour-wrapper .tour-action .price .price-sale::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #000;
  bottom: 4px;
  left: 0;
}
main.pageTours .tours__list .list__wrapper .item-tour .tour-wrapper .tour-action a {
  padding: 10px 15px;
  color: #fff;
  font-weight: 600;
  background-color: #d8232a;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  border: 1px solid #d8232a;
}
main.pageTours .tours__list .list__wrapper .item-tour .tour-wrapper .tour-action a:hover {
  background-color: transparent;
  color: #d8232a;
}

/* Footer */
#footer {
  border-top: 1px solid #000;
  background-color: #fff;
}
#footer .footer-top {
  padding: 40px 0;
}
#footer .text-review {
  gap: 10px;
  margin-top: 10px;
}
@media (max-width: 768px) {
  #footer .footer-social {
    display: flex;
    align-items: flex-start;
  }
}
#footer .footer-follow {
  border-top: 1px solid #bfbfbf;
  padding-top: 15px;
  margin-top: 15px;
}
@media (max-width: 768px) {
  #footer .footer-follow {
    margin-top: 0;
    border: none;
    padding-top: 0;
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid #bfbfbf;
  }
}
#footer .footer-follow .text {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}
#footer .footer-follow .logo {
  display: flex;
  gap: 8px;
  font-size: 30px;
}
#footer .footer-follow .logo i.fa-facebook {
  color: #3378ea;
}
#footer .footer-follow .logo i.fa-instagram {
  color: #dd3173;
}
#footer .footer-follow .logo i.fa-pinterest {
  color: #2f76b0;
}
#footer .footer-follow .logo i.fa-youtube {
  color: #eb3223;
}
@media (max-width: 768px) {
  #footer .footer-menu {
    margin-top: 20px;
  }
}
#footer .footer-menu .list-menu {
  list-style: none;
  padding-left: 0;
}
@media (max-width: 768px) {
  #footer .footer-menu .list-menu {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
}
#footer .footer-menu .list-menu .menu-item {
  font-size: 16px;
  font-weight: 500;
  color: #000;
  text-decoration: none;
  margin-bottom: 15px;
}
@media (max-width: 768px) {
  #footer .footer-menu .list-menu .menu-item {
    width: 50%;
  }
}
#footer .footer-menu .list-menu .menu-item a {
  text-decoration: none;
  color: #000;
}
#footer .footer-contact h4 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}
#footer .footer-contact .footer-support {
  padding-left: 0;
  margin-bottom: 15px;
}
#footer .footer-contact .footer-support .support-item {
  margin-bottom: 5px;
}
#footer .footer-contact .footer-support .support-item a {
  color: #212529;
  text-decoration: none;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}
#footer .footer-contact .footer-support .support-item a:hover {
  color: #fe693b;
}
#footer .footer-contact .footer-support .support-item a i {
  color: #fe693b;
}
#footer .footer-contact .footer-support .support-item a.mail i {
  padding-right: 5px;
}
#footer .footer-contact .footer-support .support-item a.phone {
  font-weight: 500;
}
#footer .footer-branch {
  padding-left: 0;
  list-style: none;
}
#footer .footer-branch .branch-item {
  margin-bottom: 12px;
  font-size: 14px;
}
#footer .footer-bottom {
  padding: 40px 0 20px;
  background-color: #EFF3F2;
}
@media (max-width: 768px) {
  #footer .footer-bottom .bottom-wrapper {
    display: block !important;
  }
}
@media (max-width: 768px) {
  #footer .footer-bottom .bottom-left {
    width: 100%;
    margin-bottom: 10px;
  }
}
#footer .footer-bottom .bottom-left p {
  font-size: 14px;
  margin-bottom: 4px;
  color: #828282;
}
@media (max-width: 768px) {
  #footer .footer-bottom .bottom-right {
    margin-left: auto;
    max-width: max-content;
  }
}
@media (max-width: 768px) {
  #footer .footer-logo {
    margin-bottom: 10px;
  }
}
#footer .footer-logo img {
  width: 100%;
  height: auto;
  max-width: 180px;
}

/*# sourceMappingURL=style.css.map */
