body main{
    min-height: 100vh;
}

/* Header */
#header{
    background-color: #FFF;
    border-bottom: 1px solid #e5e5e5;
}

#header .header-logo{
    max-height: 60px;
    object-fit: contain;
    max-width: 220px;
}

#header .menu{
    list-style: none;
    padding-left: 0;
    margin: 0;
}

#header .menu .menu-item:not(:last-child){
    margin-right: 10px;
}

#header .menu .menu-item a{
    display: flex;
    color: #444;
    border-radius: 20px;
    font-weight: 700;
    align-items: center;
    transition: none;
    padding: 8px 20px;
    border: 2px solid transparent;
    font-size: 16px;
    text-decoration: none;
    border-radius: 24px;
    border: 2px solid transparent;
    transition: ease-out 0.3s;
}

#header .menu .menu-item a:hover{
    border: 2px solid #000;
}

#header .tripadvisor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    padding: 10px;
    border-right: 1px solid #f2f2f2;
    border-left: 1px solid #f2f2f2;
    text-decoration: none;
}

#header .tripadvisor img{
    height: auto;
    max-width: 100%;
}

#header .tripadvisor span{
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #333;
    text-align: center;
}

#header .header__search{
    position: relative;
}

#header .header__search input{
    border: none;
    background-color: #f1f2f3;
    border-radius: 20px;
    padding: 0 50px 0 15px;
    height: 40px;
    line-height: 40px;
}

#header .header__search button{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    line-height: 40px;
    text-align: center;
}

/* Footer */
#footer{
    border-top: 1px solid #000;
}

#footer .footer-top{
    padding: 40px 0;
}

#footer .text-review{
    gap: 10px;
    margin-top: 10px;
}

#footer .footer-follow{
    border-top: 1px solid #bfbfbf;
    padding-top: 15px;
    margin-top: 15px;
}

#footer .footer-follow .text{
    font-size: 16px;
    font-weight: 500;
}

#footer .footer-follow .logo{
    display: flex;
    gap: 8px;
}

#footer .footer-menu .list-menu{
    list-style: none;
    padding-left: 0;
}

#footer .footer-menu .list-menu .menu-item{
    font-size: 16px;
    font-weight: 500;
    color: #000;
    text-decoration: none;
}

#footer .footer-menu .list-menu .menu-item a{
    text-decoration: none;
    color: #000;
}

#footer .footer-contact h4{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

#footer .footer-contact .footer-support{
    padding-left: 0;
    margin-bottom: 15px;
}

#footer .footer-contact .footer-support .support-item{
    margin-bottom: 5px;
}

#footer .footer-contact .footer-support .support-item a{
    color: #212529;
    text-decoration: none;
    font-size: 16px;
}

#footer .footer-contact .footer-support .support-item a.phone{
    font-weight: 500;
}

#footer .footer-branch{
    padding-left: 0;
    list-style: none;
}

#footer .footer-branch .branch-item{
    margin-bottom: 12px;
    font-size: 14px;
}

#footer .footer-bottom{
    padding: 40px 0 20px;
    background-color: #EFF3F2;
}

#footer .footer-bottom .bottom-left p{
    font-size: 14px;
    margin-bottom: 4px;
    color: #828282;
}